
#footer #top,
#lowfooter
{ 
    display: flex;
    justify-content: space-between;
    width: 1022px;
    padding-bottom: 15px;   
    margin: auto;
    
}
h3
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size:35px;
    line-height: 80%;
    
}
.footer-col 
{
    display: flex;
    flex-direction: column;
}

#top
{
     border-top: 2px #333 solid;


}
#lowfooter
{
     border-top: 1px #333 solid;
    
}
#footer small
{
      
    justify-content: space-between;
    padding-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
#footer a
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #0B0D23;

}
#footer #logo img
{
    height: 125px;
    width: 150px;
    border-bottom: 3px #333 solid;
}
#img-link
{
    width: 125px;
   
}
#mom .icons
{
     padding-left: 3px;
}
#footer a:link,
#footer  a:visited 
{
    
    text-decoration: none;
}
